:root {
  --primary-color: #2c3e50;
  --accent-color: #3498db;
  --bg-light: #f4f7f6;
  --text-dark: #333;
  --white: #ffffff;
  --error-red: #e74c3c;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
  direction: rtl; /* התאמה לעברית */
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; border: none; transition: 0.3s; }