<div class="comments-container">
  
  @if (isLoading()) {
    <div class="mini-loader">
      טוען תגובות...
    </div>
  } @else {
    <div class="comments-list">
      @for (comment of comments(); track comment.id) {
        <div class="comment-item">
          <span class="user-name">משתמש #{{comment.user_id}}:</span>
          <p class="comment-body">{{ comment.body }}</p>
          <small class="comment-date">{{ comment.created_at | date:'short' }}</small>
        </div>
      } @empty {
        <p class="no-comments">אין תגובות עדיין.</p>
      }
    </div>
  }

<div class="add-comment-form">
  <input 
    class="comment-input"
    [(ngModel)]="newCommentBody" 
    placeholder="✍️ הוסיפי תגובה..." 
    (keyup.enter)="postComment()" 
  />
</div>
